<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>Title</key>
		<string>Selena Gomez Hit The Lights Live Kiss Justin Bieber Let It Be New Years Eve 2012 PCA MTV NYE </string>
		<key>Artist</key>
		<string>Selena Gomez</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=-_iN6DYqsnE&amp;feature=related</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>2012 (It Ain&apos;t The End) ft. Nicki Minaj</string>
		<key>Artist</key>
		<string>Jay Sean</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=4uFalk1y38I</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>Keep It Between Us</string>
		<key>Artist</key>
		<string>Kelly Rowland</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=aNZkI2yWi5w&amp;feature=branded</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>Mirror ft. Bruno Mars</string>
		<key>Artist</key>
		<string>Lil Wayne</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=OZLUa8JUR18&amp;feature=related</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>Shine Like A Star (NEW 2012)</string>
		<key>Artist</key>
		<string>Akon</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=PZN40dYRgxM&amp;feature=related</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
</dict>
</plist>
