<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>Title</key>
		<string>&quot;Indiga Once Again&quot;</string>
		<key>Artist</key>
		<string>RICHARD BONE</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=HEqmm6_Qs6I</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>1</key>
	<dict>
		<key>Title</key>
		<string>Zorza Polarna</string>
		<key>Artist</key>
		<string>Enya</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=go6aY9QMYsE&amp;feature=related</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Title</key>
		<string>Xian Jian Qi Xia (Sadness and Sorrow)</string>
		<key>Artist</key>
		<string>Tinnguy</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=bJSr8-7OtuM&amp;feature=related</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Title</key>
		<string>Exploration (spacesynth videoclip)</string>
		<key>Artist</key>
		<string>AM Samurai</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=cBAl43WRu2M&amp;feature=related</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Title</key>
		<string>Starlines ( Spacesynth )</string>
		<key>Artist</key>
		<string>Abbsynth</string>
		<key>link</key>
		<string>http://www.youtube.com/watch?v=gQ0bonrp1sc&amp;feature=related</string>
		<key>TwitterAccountName</key>
		<string>selenagomzie</string>
	</dict>
</dict>
</plist>
